@import "../../scss/variables.scss";

.button {
    transition: all 0.2s ease;
    background-color: $color-blue-1;
    color: white;
    border: 1px solid white;
    border-radius: 0.35rem;

    &:hover {
        background-color: $color-blue-3;
    }

    &[disabled] {
        background-color: $color-grey-2;
        color: $color-blue-2;
        cursor: default;
    }

    &.light-blue {
        background-color: $color-blue-3;

        &:hover {
            background-color: $color-blue-4;
        }

        &[disabled] {
            background-color: $color-grey-2;
            color: $color-blue-2;
            cursor: default;
        }
    }
}