@import "../../scss/variables.scss";

.product-list-items {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .product-list-item {
        min-height: 256px;
        padding: 2rem;
        border: 1px solid white;
        border-radius: 0.5rem;
        background-color: $color-grey-1;
        color: $color-blue-1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        p, h3 {
            overflow-wrap: break-word;
        }

        p {
            font-size: 1rem;
        }

        h3 {
            margin: 0;
        }

        img {
            max-width: 100%;
            margin-top: 1.5rem;
            border-radius: 0.5rem;
        }

        .product-list-item-image {
            display: block;
            max-height: 256px;
            overflow: hidden;
            border-radius: 0 0 0.5rem 0.5rem;
        }

        .product-list-item-form-group {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: start;
            gap: 1rem;
        }

        .product-list-item-button-group {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            button {
                padding: 0.5rem 0.5rem;
            }
        }

        .show-description-button {
            display: flex;
            margin-top: 0.5rem;
            padding: 0;
            font-size: 0.9rem;
            font-weight: bold;
            cursor: pointer;
            background-color: transparent;
            color: $color-blue-1;
            border-radius: 0;
        }
    }
}

.product-list-items-end {
    padding: 2em 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.product-list-item-count {
    padding: 1rem 0;
    font-size: 1.2rem;
    color: $color-blue-1;
}

.product-list-items-observer {
    display: flex;
    min-height: 50px;
    min-width: 100%;
}

.product-list-items-loading {
    display: flex;
    padding: 2rem;
    font-size: 2rem;
    height: 50px;
}